/* src/index.css or src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #9D8B6B; /* Indigo-500 */
    --color-secondary: #9D8B6B; /* Pink-500 */
    --color-background: #ffffff; /* White */
    --color-background-secondary: #CEC5B5; /* Gray-800 */
    --color-background-tertiary:#E6E2DA;
    --color-background-quaternary: #e2ded7;
    --color-text: #ffff; /* Gray-800 */
    --color-text-secondary: #846E46;
    --color-text-tertiary: #AF9870;
    --color-border: #9D8B6B;
  }

  .dark {
    --color-primary: #917F5F; /* Indigo-400 */
    --color-secondary: #39342C; /* Pink-400 */
    --color-background: #000000;
    --color-background-secondary: #3E352D;
    --color-background-tertiary: #0F0B0B;
    --color-background-quaternary: #221C1C;
    --color-text: #3E352D; /* Gray-100 */
    --color-text-secondary: #AF9870;
    --color-text-tertiary: #846E46;
    --color-border: #574D3D;
  }

}

body {
  @apply bg-background text-text transition-colors duration-300;
}